<section id="{{ content.link.anchor | default: content.slug }}" class="container content {{ content.color }}">
  <div class="content-content-wrapper">
    <div class="content-header">
      <h2 class="content-title">
        {%- if content.link.icon -%}
        <span class="icon">
          {%- capture icon_path %}svg/icons/{{ content.link.icon }}.svg{% endcapture -%}
          {% include {{ icon_path }} %}
        </span>
        {%- endif -%}
        {{ content.title }}
      </h2>
      {%- if content.intro -%}
      <div class="content-intro">
        <div class="content-intro--layout">
          <div class="content-content">
            {{ content.intro }}
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- if content.quote -%}
      <div class="content-quote">
        {% include components/quote.html
          text=content.quote.text
          citation=content.quote.citation
          image=content.quote.image
          alt=content.quote.alt
          audio=content.audio
        %}
      </div>
      {%- endif -%}
    </div>
    {%- if content.content -%}
    <div class="content-main">
      <div class="content-content">
        {{ content.content }}
      </div>
    </div>
    {%- endif -%}
    {%- if content.donor-quote or content.featured-image -%}
    <div class="content-footer">
      {%- if content.donor-quote -%}
      <div class="content-donor-quote">
        {% include components/quote.html
          text=content.donor-quote.text
          citation=content.donor-quote.citation
        %}
      </div>
      {%- endif -%}

      {%- if content.featured-image -%}
      <figure class="content-featured-image">
        {% picture show-featured-image {{ content.featured-image.url }} --alt {{ content.featured-image.alt }}  %}
      </figure>
      {%- endif -%}
    </div>
    {%- endif -%}
  </div>

  {%- if content.awards -%}
    {% include components/awards.html %}
  {%- endif -%}

  {%- if content.donor-list -%}
    {% include components/donors.html %}
  {%- endif -%}

  {%- if content.financials -%}
    {% include components/financials.html %}
  {%- endif -%}


</section>
