<header id="top" class="hero container">
  <figure class="hero-image">
    {% picture img/hero/hero-map-dark-75.png --alt "Map of the United States with pinpoints showing services provided to public media stations"  %}
  </figure>
  <div class="content-wrapper">
    <h1>
      <span class="hero-line">
      {% include svg/prx-logo-single-color.svg %}
      </span>
      <span class="hero-line">
        <span class="cyan">2025</span> <span class="yellow">Annual</span> <span class="orange">Report</span>
      </span>
      <span class="hero-line">
        <em>System</em> Impact
      </span>
    </h1>
  </div>
</header>
