<section id="{{ show.link.anchor | default: show.slug }}" class="container show">
  <div class="show-header">
    <h2 class="show-title">{{ show.title }}</h2>

    {%- if show.quote -%}
    <div class="show-quote">
      {% include components/quote.html
        text=show.quote.text
        citation=show.quote.citation
      %}
    </div>
    {%- endif -%}
  </div>
  <div class="show-main">
    <div class="show-main--layout">
      <div class="show-sidebar">
        <div class="show-sidebar--layout">
          {%- if show.logo -%}
          <div class="show-logo">
            {% picture show-logo-featured {{ show.logo.url }} --alt {{ show.logo.alt }}  %}
          </div>
          {%- endif -%}
          {%- if show.audio -%}
          <div class="show-audio">
            {% include components/audio-inline.html
              url=show.audio.url
              title=show.audio.title
            %}
            <button type="button" class="show-audio--button">
              <span class="play-icon" aria-label="Play"></span>
              <span class="show-audio--button--label">Featured Episode</span>
              <span class="show-audio--button--title">{{show.audio.title}}</span>
            </button>
            <div class="show-audio--controls">
              <span class="show-audio--slider">
                <input id="progress-bar" type="range" defaultValue="0" min="0" max="1" step="0.01" aria-label="Player Progress" />
              </span>
            </div>
          </div>
          {%- endif -%}
          {%- if show.funders -%}
          <div class="show-funders">
            <p class="text-sm"><strong>Major support comes from:</strong> <em>{{ show.funders }}</em></p>
          </div>
          {%- endif -%}
        </div>
      </div>
      <div class="show-content">
        {{ show.content }}
      </div>
    </div>
  </div>
  <div class="show-footer">
    {%- if show.donor-quote -%}
    <div class="show-donor-quote">
      {% include components/quote.html
        text=show.donor-quote.text
        citation=show.donor-quote.citation
        audio=show.donor-quote.audio
      %}
    </div>
    {%- endif -%}

    {%- if show.video -%}
    <div class="show-video">
      {% include components/video.html
        url=show.video.url
      %}
    </div>
    {%- endif -%}

    {%- if show.mosaic -%}
    {%- assign mosaic = show.mosaic -%}
    <div class="show-mosaic">
      {% include components/show-mosaic.html %}
    </div>
    {%- endif -%}

    {%- if show.featured-image -%}
    <figure class="show-featured-image">
      {% picture show-featured-image {{ show.featured-image.url }} --alt {{ show.featured-image.alt }}  %}
    </figure>
    {%- endif -%}
  </div>
</section>
