.content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  overflow: hidden;
  color: $white;
  background: linear-gradient(to right, $navy, $violet);

  &:nth-of-type(3n + 1) {
    background: linear-gradient(to right, $navy, $red);
  }

  &:nth-of-type(3n + 2) {
    background: linear-gradient(to right, $navy, $teal);
  }

  &:nth-of-type(3n) {
    background: linear-gradient(to right, $navy, $violet);
  }
}

.content-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-wrap: balance;
  text-align: left;
}

.content-header {
  max-width: 800px;
  margin-bottom: 2rem;
}

.content-content p {
  max-width: 800px;
}

.section-transition {
  background: $navy;
  color: $white;
  text-wrap: balance;

  p {
    text-align: left;
  }

  .btn {
    display: inline-block;
  }
}

.content-donor-quote {
  max-width: 800px;
}
