.hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  margin: 0 3rem;
  border-radius: 20px;

  h1 {
    font-size: clamp(2.5rem, calc(5vw + 0.5rem), 3rem);
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    margin: 0;
    text-align: left;

    svg {
      height: 45px;
      width: auto;
    }

    span {
      color: var(--header-text-color);

      &.cyan {
        --header-text-color: #{$cyan};
      }

      &.orange {
        --header-text-color: #{$orange};
      }

      &.yellow {
        --header-text-color: #{$yellow};
      }
    }
  }
}

.hero-line {
  display: block;
}

.hero-image {
  animation-name: hero-card-image-select;
  animation-duration: var(--_hero-card--animation-duration);
  animation-iteration-count: infinite;
  animation-timing-function: steps(var(--hero-card--image-count), jump-none);
  animation-delay: var(--_hero-card-image--animation-delay);
  overflow: hidden;
  border-radius: 20px;

  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 0;
  position: absolute;

  img {
    animation-name: hero-card-image-zoom;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@keyframes hero-card-image-zoom {
  0% {
    scale: 1;
    filter: saturate(100%);
  }
  100% {
    scale: 1.1;
    filter: saturate(100%);
  }
}
