@property --nav-expanded {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $navy;
  color: $base-text-color;
  font-family: 'Montserrat', sans-serif;
  transition: --nav-expanded var(--transition-speed) ease;

  &[data-menu-open="true"] {
    overflow: clip;
  }

  &[data-menu-open="false"] {
    --nav-expanded: 0;
  }

  @media (min-width: 768px) {
      --nav-expanded: 250px;

    &[data-menu-open="false"] {
      --nav-expanded: 0;
    }

    &[data-menu-open="true"] {
      overflow-y: auto;
    }
  }
}

.layout-content {
  margin-left: var(--nav-expanded);
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  min-height: 80vh;
  padding: 3rem;

  overflow: hidden;
  color: $white;

  &.violet {
    background-image: linear-gradient(to right, transparent, $violet);
  }

  &.teal {
    background-image: linear-gradient(to right, transparent, $teal);
  }

  &.red {
    background-image: linear-gradient(to right, transparent, $red);
  }
}
