body {
  margin: 0;
  padding: 0;
  background: $navy;
  color: $base-text-color;
  font-family: 'Montserrat', sans-serif;
}

.layout-wrapper {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
}

.layout-content {
  transition: margin-left var(--transition-speed) ease;
  min-height: calc(100vh - 72px);
  margin-left: 0;

  @media (min-width: 768px) {
    margin-left: var(--nav-expanded);

    [data-menu-open="false"] & {
      margin-left: 0;
    }

    [data-menu-open="true"] & {
      margin-left: var(--nav-expanded);
    }
  }
}

.container {
  min-height: 80vh;

  &.navy {
    background-color: $navy;
    color: $white;
  }
}
