:root {
  --nav-expanded: 250px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(180deg,rgba(0, 58, 87, 0.5) 0%, rgba(0, 58, 87, 0) 80%);

  > nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;

    border-radius: 0 0 20px 20px;

    &:first-of-type {
      border-bottom-left-radius: 0;
    }

    &:last-of-type {
      border-bottom-right-radius: 0;
    }
  }

  .label {
    display: none;

    @media (min-width: 480px) {
      display: block;
    }

  }
}

.prx-logo {
  margin-left: 0.25rem;
}

.btn-menu {
  svg path {
    stroke: $white;
  }
}

.navbar-buttons {
  svg path {
    stroke: $navy;
  }
}

.layout-nav {
  background-color: transparent;
  position: fixed;
  top: 72px;
  left: 0;
  min-height: calc(100vh - 72px);
  height: 100%;
  width: 0;
  transition: width 0.35s ease;
}

.layout-content {
  transition: margin-left 0.35s ease;
  margin-left: 0;
  min-height: calc(100vh - 72px);
}

.layout-nav.expanded { width: var(--nav-expanded); }
.layout-nav.collapsed { display: none; }

.layout-content.expanded { margin-left: var(--nav-expanded); }
.layout-content.collapsed { margin-left: 0; }

/* Medium+ screens default expanded */
@media (min-width: 768px) {
  .layout-nav     { width: var(--nav-expanded); }
  .layout-content { margin-left: var(--nav-expanded); }
}
