<div{% if include.image %} class="image"{% endif %}>

  {%- if include.image -%}
    {% picture quote-image {{ include.image }} --alt {{ include.alt }}  %}
  {%- endif -%}

  <prx-audio-quote {% if include.audio  -%} src="{{ include.audio.url }}"
    {%- if include.audio.transcript %} transcript-url="{{include.audio.transcript}}"{%- endif -%}
  {%- endif -%}>

    {{ include.text }}

    {%- if include.citation  -%}
    <span slot="citation">{{ include.citation }}</span>
    {%- endif -%}

  </prx-audio-quote>
</div>
