<blockquote{% if include.image %} class="image"{% endif %}>
  {%- if include.image -%}
    {% picture quote-image {{ include.image }} --alt {{ include.alt }}  %}
  {%- endif -%}
  <div>
    <p class="quote-text">{{ include.text }}</p>
    {%- if include.audio  -%}
      {%- assign audio_title = include.audio.title -%}
      {%- if include.citation -%}
        {%- assign audio_title = include.citation -%}
      {%- endif -%}

      <div class="show-audio">
        {% include components/audio-inline.html
          url=include.audio.url
          title=audio_title
        %}
        <button type="button" class="show-audio--button">
          <span class="play-icon" aria-label="Play"></span>
          <span class="show-audio--button--title">{{ audio_title }}</span>
        </button>
        <div class="show-audio--controls">
          <span class="show-audio--slider">
            <input id="progress-bar" type="range" defaultValue="0" min="0" max="1" step="0.01" aria-label="Player Progress" />
          </span>
        </div>
      </div>
    {%- endif  -%}

    {%- if include.citation  -%}
    <cite class="quote-citation">{{ include.citation }}</cite>
    {%- endif -%}

  </div>
</blockquote>
