<blockquote{% if include.image %} class="image"{% endif %}>
  {%- if include.image -%}
    {% picture quote-image {{ include.image }} --alt {{ include.alt }}  %}
  {%- endif -%}
  {%- if include.audio  -%}
    <div class="quote-audio">
      {% include components/audio-inline.html
        url=include.quote.audio.url
      %}
      <p class="quote-text">
        <button type="button" class="quote-audio--button">
          <span class="play-icon" aria-label="Play"></span>
        </button>
        {{ include.text }}
      </p>
    </div>
    {%- else -%}
    <p class="quote-text">{{ include.quote.text }}</p>
  {%- endif  -%}

  {%- if include.citation  -%}
  <cite class="quote-citation">{{ include.citation }}</cite>
  {%- endif -%}
</blockquote>
