<footer class="footer">
  <div class="footer-content">
    <p>You have reached the bottom of the report. <a href="#top">Go back to the top</a></p>

    <p>Photos by Aspen Institute Public Programs, Lucy Katcher, Mario de Lopez/TGD, Christoper McIntosh, Carl Simmons, McClaine Wellem, PRX staff.</p>

    <p>Every effort has been made to ensure the accuracy of this report. If errors or omissions have occurred, please accept our apologies and contact Madeline Hansen at 612-330-9246.</p>

    <p>&copy; Copyright 2003-2024 <a href="https://www.prx.org/">PRX</a><br />PRX is a 501(c)(3) organization recognized by the IRS: #263347402.</br><a href="https://prx.org/terms-of-service">Terms of Use</a> and <a href="http://exchange.prx.org/privacy-policy">Privacy Policy</a></p>
  </div>
</footer>
