<!-- Stylesheets -->
<link defer href="assets/css/style.css" rel="stylesheet">

<!-- Plausible Analytics -->
<script defer data-domain="2024.prx.org" src="https://plausible.io/js/script.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

<!-- Audio -->
<script defer type="text/javascript" src="assets/js/audio.js"></script>
<script defer type="text/javascript" src="assets/js/show-audio.js"></script>

<!-- Menu -->
<script defer type="text/javascript" src="assets/js/menu.js?cb={{ site.time }}"></script>
