<!-- Stylesheets -->
<link defer href="assets/css/style.css" rel="stylesheet">

<!-- Audio -->
<script defer type="text/javascript" src="assets/js/audio.js"></script>
<script defer type="text/javascript" src="assets/js/show-audio.js"></script>

<!-- Menu -->
<script defer type="text/javascript" src="assets/js/menu.js?cb={{ site.time }}"></script>

<!-- Map -->
<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" />
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script defer type="text/javascript" src="assets/js/map.js"></script>

<!-- Web Components -->
<script type="module" src="assets/js/web-components/esm/web-components.js"></script>
<script nomodule src="assets/js/web-components/cjs/web-components.cjs.js"></script>

<script async src="https://giving.classy.org/embedded/api/sdk/js/72482"></script>

<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://plausible.io/js/pa-iQ_r8w7REpkoR7Ujsyafk.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>
