<header class="navbar">
    <nav>
      <button popovertarget="navDrawerPopover" class="btn white" aria-label="Toggle Menu">
        {% include svg/icons/menu.svg %}
      </button>
      <a href="#top" class="prx-logo" aria-label="Back to the top of the Annual Report">
        {% include svg/prx-logo-single-color.svg %}
      </a>
    </nav>
    <nav>
      {% include components/button-link.html
        href="#playlist"
        color="yellow"
        icon="playlist_play"
        aria-label="hidden"
        label="Playlist"
      %}
      {% include components/button-link.html
        href="https://give.prx.org/give/323700/#!/donation/checkout?c_src=donate_home?c_src=Referral&c_src2=AR-2025"
        color="cyan"
        icon="favorite"
        aria-label="hidden"
        label="Donate"
      %}
    </nav>
</header>
