<header class="navbar">
    <nav>
      <button id="nav-toggle" class="btn btn-menu text-white" aria-label="Toggle Menu" aria-expanded="true">
        {% include svg/icons/menu.svg %}
      </button>

      <a href="#top" class="prx-logo" aria-label="Back to the top of the Annual Report">
        {% include svg/prx-logo-single-color.svg %}
      </a>
    </nav>
    <nav class="navbar-buttons">
      {% include components/button-link.html
        href="#playlist"
        color="yellow"
        icon="list-video"
        aria-label="hidden"
        label="Playlist"
      %}
      {% include components/button-link.html
        href="?campaign=733266&c_src=donate_header&c_src=Referral&c_src2=AR-2025"
        color="cyan"
        icon="heart-handshake"
        aria-label="hidden"
        label="Donate"
      %}
    </nav>
</header>
