<nav id="navDrawerPopover" class="nav-drawer" popover>
  <ul class="menu" role="list">
    {% include components/menu-item.html
      href="#intro"
      label="Introduction"
      color="white"
    %}

    {% for welcome in site.welcome %}
      {% assign href = welcome.link.anchor | default: welcome.slug | prepend: '#' %}
      {% assign label = welcome.link.label | default: welcome.title %}
      {% include components/menu-item.html
        href=href
        label=label
        color="white"
      %}
    {% endfor %}

    {% for show in site.shows %}
      {% assign href = show.link.anchor | default: show.slug | prepend: '#' %}
      {% assign label = show.link.label | default: show.title %}
      {% include components/menu-item.html
        href=href
        label=label
      %}
    {% endfor %}

    {% for content in site.content %}
      {% assign href = content.link.anchor | default: content.slug | prepend: '#' %}
      {% assign label = content.link.label | default: content.title %}
      {% include components/menu-item.html
        href=href
        label=label
      %}
    {% endfor %}

    {% include components/menu-item.html
      href="#playlist"
      label="Podcast Playlist"
      color="yellow"
      icon="playlist_play"
      aria-label="hidden"
    %}

    {% include components/menu-item.html
      href="https://give.prx.org/give/323700/#!/donation/checkout?c_src=donate_home?c_src=Referral&c_src2=AR-2025"
      color="cyan"
      icon="favorite"
      aria-label="hidden"
      label="Donate"
    %}
  </ul>
</nav>
