<nav id="nav-drawer" class="nav-drawer" aria-hidden="false">
  <ul class="menu" role="list">
    {% include components/menu-item.html
      href="#intro"
      label="Introduction"
      color="white"
      icon="hand"
    %}

    {% for welcome in site.welcome %}
      {% assign label = welcome.link.label | default: welcome.title %}
      {% assign icon = welcome.link.icon %}
      {% include components/menu-item.html
        href=href
        label=label
        color="white"
        icon=icon
      %}
    {% endfor %}

    <hr>

    {% for content in site.content %}
      {% if content.menu-group == '1' %}
        {% include navbar/navbar-menu-group.html %}
      {% endif %}
    {% endfor %}

    <hr>

    {% for content in site.content %}
      {% if content.menu-group == '2' %}
        {% include navbar/navbar-menu-group.html %}
      {% endif %}
    {% endfor %}

    <hr>

    {% include components/menu-item.html
      href="#playlist"
      label="Podcast Playlist"
      color="yellow"
      icon="list-video"
      aria-label="hidden"
      slug=playlist
    %}

    {% include components/menu-item.html
      href="https://give.prx.org/give/323700/#!/donation/checkout?c_src=donate_home?c_src=Referral&c_src2=AR-2025"
      color="cyan"
      icon="heart-handshake"
      aria-label="hidden"
      label="Donate"
    %}
  </ul>
</nav>
